.mainbody {
    font-family: 'Courier New';
}

.group {
    stroke: black;
    stroke-width: 3px;
}

.face {
    fill:yellow;
}

.eye {
    fill: black;
}

.nose {
    stroke:black;
    stroke-width: 20px;
}

.mouth {
    stroke: black;
    stroke-width: 20px;
    fill: none;
}
#upleft {
    fill:green;
}

#upright {
    fill:pink;
}

#lowleft {
    fill: orange;
}

#lowright {
    fill: steelblue;
}

